.navbar .nav-item.active .nav-link.active,
.navbar .nav-item:focus .nav-link:focus,
.navbar .nav-item:hover .nav-link:hover {
    color: #ffffff;
}
.nav-title {
    font-family: cursive;
}
h1 {
    font-size: 48px;
}